parameters:
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Psr\Log\AbstractLogger
				- Psr\Log\Test\LoggerInterfaceTest
	ignoreErrors:
		-
			identifier: shipmonk.deadMethod
			path: ../../tests/DataProvider.php
			count: 5
